{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^next\/*(.*)$",
    "^react\/*(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/types\/(.*)$",
    "^@/server/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/config/(.*)$",
    "^@/components/(.*)$",
    "^@/app/(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
